
on: [push]

jobs:
  custom_test:
    runs-on: ubuntu-latest
    name: Run
    steps:
      - name: Pipeline run
        uses: ./actions/
        id: greeting
        with:
          name: Wes

      - name: Greetings
        run: echo "Hello world!"